[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logzero = "*"
requests = "*"
jikanpy = "*"
backoff = "*"
click = "*"
pygsheets = "*"
google-auth = "*"
appdirs = "*"

[dev-packages]

[requires]
python_version = "3.10"

[packages.cachecontrol]
extras = [ "filecache",]
